*{
    padding: 0;
    margin: 0;
}
.GridContenedor{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main Aside"
    "Footer Footer Footer"
    ;
}
.GridContenedor div{
    border: 2px solid black;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: nav;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: Aside;
}
.item5{
    grid-area: Footer;
}
header {
    display: flex;
    flex-direction: row;
    background-image: url(../img/Fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black ;
}

.logo{
    width: 30%;
    height: 100%;

}

nav {
    background-color: crimson;
    border: 2px solid black;
    
}
nav a {
    text-decoration: wavy;
    color: black;
    font-size: 50px;
}
nav a:hover{
    color: indigo;
    background-color: #008849;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition:  all 0.3s ease 0s;
    border: 3px solid black;
}
nav a:hover{
    color: indigo;
    background-color: #008849;
}
h2{
    text-align: center;
    font-size: 70px;

}
.Contenedor1{
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 50px;
    grid-gap: 30px;
    

}
.caja{
    border: 2px solid black;
}
.caja1 img{
    height: 100%;
    width: 100%;
}
.caja1{
    transition: 1s;
}
.caja1:hover{
    transform: scale(2);
}
.caja2 img{
    height: 100%;
    width: 100%;
}
.caja2{
    transition: 1s;
}
.caja2:hover{
    transform: scale(2);
}
.caja3 img{
    height: 100%;
    width: 100%;
}
.caja3 {
    transition: 1s;
}
.caja3:hover{
    transform: scale(2);
}
.caja4 img{
    height: 100%;
    width: 100%;
}
.caja4{
    transition: 1s;
}
.caja4:hover{
    transform: scale(2);
}
.caja5 img{
    height: 100%;
    width: 100%;
}
.caja5{
    transition: 1s;
}
.caja5:hover{
    transform: scale(2);
}
.caja6 img{
    height: 100%;
    width: 100%;
}
.caja6{
    transition: 1s;
}
.caja6:hover{
    transform: scale(2);
}
h3{
    text-align: center;
}
.Contenedor2{
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px 400px ;
    grid-gap: 30px;
}
h5{
    text-align: center;
    font-size: 30px;
}
p{
    text-align: center;
    font-size: 20px;
}
.Box1 {
    overflow:auto;
}

.Box2 img {
    height: 50%;
    width: 100%;
}
.Box3{
    overflow: auto;
}

.Box4 img{
    height: 50%;
    width: 100%
}

@media all and (max-width: 600px){
    .Contenedor1{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
    }
    .Contenedor2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
    }
    ul {
        flex-direction: column;
    }
}